.fade-enter-active{
   transition: all .3s ease .1s;
   transform: translateY(0);
}
.fade-leave-active{
   transition: all .3s ease;
   transform: translateY(0);
}
.fade-leave-to,.fade-enter{
   transform: translateY(100%);
 }